.gradle/
captures/
build/
gradle/
metadata/
tools/
.idea/
TMessagesProj/build/
TMessagesProj/config/
TMessagesProj/libs/
TMessagesProj/test/
TMessagesProj/google-services.json
TMessagesProj/src/androidTest
*.hprof
